#use flake 'github:hitsmaxft/AnnePro2-Tools/fc3773025da0dea63248f23fe45b491b95ce3e1d'
use flake

export GIT_COMMITTER_NAME="hitsmaxft"
export GIT_COMMITTER_EMAIL="mfthits@gmail.com"
export GIT_AUTHOR_NAME="hitsmaxft"
export GIT_AUTHOR_EMAIL="mfthits@gmail.com"
